// login form
.login-form {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    .btn-login {
        margin-top: 10px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        width: 8rem;
    }
    input,
    label {
        // padding-top: 5px;
        // padding-bottom: 5px;
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.navbar {
    display: flex;
    margin-bottom: 1rem;
    background-color: aliceblue;
    padding: 10px 20px;
    a {
        margin-left: 10px;
    }
    .navbar_logout {
        border: none;
        margin-left: 10px;
        background-color: aliceblue;
        cursor: pointer;
        font-size: 1.2rem;
        border-radius: 5px;
    }
    .navbar_logout:hover {
        background-color: red;
        color: white;
    }
    .navbar_admin {
        margin-left: 20px;
        background-color: green;
        color: lightgreen;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
    }
    &_search {
        margin-left: 20px;
        .inner-form {
            display: flex;
            align-items: center;
            .third-wrap button {
                border: none;
                background-color: aliceblue;
            }
        }
    }
    i {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    &_left {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_right {
        width: 10%;
    }
}

.alert-error {
    padding: 10px;
    background-color: red;
    color: white;
}

.alert-success {
    padding: 10px;
    background-color: green;
    color: lightgreen;
}

.dashboard {
    background-color: aquamarine;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    &_header {
        display: flex;
        background-color: brown;
        color: aliceblue;
        justify-content: center;
    }
    &_actions {
        display: flex;
        flex-direction: row;
        height: 300px;
        &--product,
        &--sale,
        &--detail {
            display: flex;
            flex-direction: column;
            width: 50%;
            a {
                text-decoration: none;
                background-color: white;
                border-radius: 5px;
                border: solid 1px white;
                margin: 1rem;
                text-align: center;
                cursor: pointer;
                &:hover {
                    background-color: rgb(131, 164, 192);
                }
            }
        }
    }
}

// this is for product list
weqwe
.product,
.sale {
    // background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    &_header {
        font-weight: 700;
    }
    &_sum {
        background-color: green;
        color: lightgreen;
    }
    td {
        border: 1px solid;
        border-collapse: collapse;
    }
}

.product_name,
.product_price,
.product_code,
.product_stock {
    width: 200px;
}

//single-sale information page
.sale_container {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    &--form {
        width: 50%;
    }
}

.inner-form {
    display: flex;
    flex-direction: row;
}
